
<div *ngIf="contentToViewList.length <= 0" class="empty-list">
  No available resources
</div>

<div class="card col-md-6  " style="margin-right: 4%; margin-left: 25%" *ngIf="contentToViewList.length > 0">
  <table style="width: 100%">
    <tbody style="width: 100%">
    <tr>
      <th></th>
      <th>Name</th>
      <th>LastUpdate</th>

    </tr>


    <tr *ngFor="let content of contentToViewList" class="my-md-list  " >
      <td><span style="height: 32px; width: 32px; margin-top: 2px">
        <img [src]="getFileIcon(content.url)" alt="Avatar" style="width: 32px; height: 32px">
        </span>
        </td>

       <td >{{content.displayName}}</td>
      <td>{{content.lastUpdated.split("T")[0]}}</td>
      <td (click)="viewOptions($event)">
         <span>
        <img src="./assets/fileTypes/option-dots.png" alt="avatar" style="height: 12px">
        </span>
        <div class="dropdown">
          <div class="dropdown-content ">
            <a href="'../../../api/documents/{{content.id}}/data" >View Resource</a>
            <a href="#" (click)="doShareSettings(content)">Sharing settings</a>
            <a href="#" (click)="editResource(content)" >Edit</a>
            <a href="#" (click)="removeResource(content)" >Remove</a>
          </div>
        </div>
      </td>

     </tr>
    </tbody>
   </table>
 </div>





