
<div *ngIf="contentToViewGrid.length <= 0" class="empty-list">
  <div *ngIf="!(isConnected | async)">
    Please check your internet connection
  </div>

  <!--<div *ngIf="(isConnected | async)">-->
    <!--<page-loading loadingSize="large" loadingMessage="Loading resources"></page-loading>-->
  <!--</div>-->
</div>

<div class="container-fluid">
<div class="row ">
  <div class="col ">
    <div class="my-columns ">

      <div class="card my-card " *ngFor="let content of contentToViewGrid" >
        <div style=" height: 150px" class="my-card-img">
          <img [src]="getFileIcon(content.url)" alt="Avatar" style=" margin-top: 8px">
        </div>
        <hr class="style10" >
        <div class="row label-row">
          <td class="option-dots">
            <img src="./assets/fileTypes/option-dots.png" alt="avatar" style="height: 15px; margin-right: 5px">
            <div class="dropdown">
              <!--<button class="dropbtn">Dropdown</button>-->
              <div class="dropdown-content ">
                <a href="'../../../api/documents/{{content.id}}/data" >View Resource</a>
                <a href="#" (click)="doShareSettings(content)" >Sharing settings</a>
                <a href="#" (click)="editResource(content)" >Edit</a>
                <a href="#" (click)="removeResource(content)" >Remove</a>
              </div>
            </div>
          </td>

        <div class="container">{{content.displayName}}</div>&nbsp;&nbsp;


        </div>
      </div>
    </div>
  </div>
</div>

</div>




