

  <div  class="myContainer" >
    <div class="well well-sm" style="background-color: #e5e5e5">
      <strong>Create new resource</strong>
    </div>

    <label class="label-as-card">
      This object will be created with public edit and view rights
    </label>

    <div>
      Details
    </div>

    <form id="documentForm" action="saveDocument.action"  enctype="multipart/form-data" >

    <table class="my-table">
      <tr> <td>Name <span style="color: red">*</span>&nbsp;&nbsp;</td>
        <td> <input type="text" class="form-control" name="fileName"   [(ngModel)]="fileName" (input)="gettingName($event)" ></td>
      </tr>

      <tr>
        <td>Type &nbsp;&nbsp;</td>
        <td> &nbsp;&nbsp;<select type="text" class="form-control"  [(ngModel)]="uploadType"  (input)="listenUploadType($event)"  >
          <option value="false">Upload file</option>
          <option value="true">External URL</option>
        </select>
        </td>
      </tr>

      <tr  *ngIf="uploadType" >
        <td>Attachment &nbsp;&nbsp;</td>
        <td> &nbsp;<input type="checkbox" value="true" name="attachment"  [(ngModel)]="isAttached"></td>
      </tr>

      <tr *ngIf="uploadType" >
        <td>File <span style="color: red">*</span> &nbsp;</td>
        <td> <input type="file" name="upload" id="upload"
                    ngModel formenctype="multipart/form-data" ></td>
      </tr>

      <tr *ngIf="!uploadType" >
        <td>Url  <span style="color: red">*</span>&nbsp;&nbsp;</td>
        <td style="margin-top: 20px; padding-top: 20px" >
          <input type="text" class="form-control" name="link" id="link" value="http://"  [(ngModel)]="fileUrl" >
        </td>
      </tr>

    </table>

    <div class="my-table">
      <tr> <td><button (click)="uploadTypeOption()" type="submit" class="btn btn-primary btn-sm"
                       [disabled]="!isFileName ">Save</button> &nbsp;&nbsp; &nbsp;</td>
        <td> <button (click)="doCancel()" type="button" class="btn btn-danger btn-sm">Cancel</button></td>
      </tr>
    </div>
    </form>

  </div>

