<dhis-menu></dhis-menu>

<div class="container-fluid">

<div class="front-label" style="margin-top: 50px">
  <span >
    <img src="./assets/fileTypes/box-hisp.png" alt="Avatar" style="width: 80px; height: 80px; padding-top: 5px"></span>
  <label>Interactive Archive</label>
  <a class="btn-lg" href="#openHelpModal" ><span class="glyphicon glyphicon-question-sign"></span></a>
  <hr class="style13"></div>


  <div class="col-md-4 col-md-offset-5" style="margin-left: 34%">
    <input type="text" placeholder="Search" class="form-control" (input)="getFilteredList($event)">
  </div>

  <div class="btn-group option-view-list">
    <a (click)="displayView('list')"id="list" class="btn btn-default btn-sm"><img src="../assets/listing-option.png" style="width: 16px;height: 16px">
      &nbsp;&nbsp;List</a>
      <a (click)="displayView('grid')" id="grid" class="btn btn-default btn-sm">
        <img src="../assets/menu.png" style="width: 16px;height: 16px" >&nbsp;&nbsp;Grid</a>
</div>

    <div class="myContainer">

    <div *ngIf="viewList">
    <app-list-view [contentToViewList]="contentToView"
                   (viewFile)="viewFileInfo($event)"
                    (editFile)="onEditFile($event)"
                    (shareSettings)="shareSettingInfo($event)"></app-list-view>
    </div>

    <div *ngIf="viewGrid">
    <app-grid-view
      [contentToViewGrid]="contentToView"
      (viewFile)="viewFileInfo($event)"
      (shareSettings)="shareSettingInfo($event)"
      (editFile)="onEditFile($event)"></app-grid-view>
    </div>

    </div>



  <div *ngIf="addResource" class="show-uploader" >
  <app-uploader (cancelAction)="uploaderDidCancelAction($event)"
                (addResourceAction)="receivingNewResource($event)"
                [fileInfo]="editFileInfo"></app-uploader>
  </div>


  <div *ngIf="showShareSettings" class="show-share-settings">
    <app-sharing-settings
      [fileSettings]="fileSetting"
      (cancel)="shareSettingsDidCancel($event)"
    ></app-sharing-settings>
  </div>



    <button *ngIf="addButton" class="btn btn-primary btn-circle" title="Add new Resource" (click)="addOfResource()" >
    <span>+</span>
    </button>


</div>







