<div  class="myContainer" >
  <div class="label-as-card" style="background-color: #e5e5e5">
    <strong>Sharing settings</strong>
  </div>


  <div style="padding-top: 10px; margin-left: 15px">
    {{fileSettings.displayName}}
  </div>
  <div class="btn-group" style="width: 90%; margin-left: 15px;padding-top: 10px;">
    <input type="text" class="form-control search-user" name="fileName" [(ngModel)]="selectedUserGroup" (input)="searchEvent($event)" placeholder="Search for user groups" style="width: 88%">
    <button class="btn" (click)="addUserGroup()">+</button>
  </div>
  <div  *ngIf="showUsers" class="dropdown"  style="margin-left: 15px">
    <div class="dropdown-content ">
      <a *ngFor="let user of userGroup" (click)="setUser(user)">{{user.displayName}}</a>

    </div>
  </div>


  <div style="padding-top: 10px; margin-left: 15px; color: #9e9e9e">
    Created by: {{userCreatedFile}}
  </div>

  <div  style="padding-top: 10px; margin-left: 15px;" >
    External access (without login) &nbsp;&nbsp;
     &nbsp;<input type="checkbox" value="true" name="attachment"  >
  </div>


  <div class="row" style="padding-top: 10px; margin-left: 15px;" >
    <div class="col-6">
      Public access (with login)
    </div>
    <select type="text" class="form-control" style="width: 180px"  [(ngModel)]="publicAccess" >
    <option value="--------">None</option>
    <option value="r-------">Can view</option>
    <option value="rw------">Can edit and view</option>
    </select>
  </div>

  <div *ngFor="let userAccess of addedUser" class="row" style="padding-top: 10px; margin-left: 15px;" >
    <div class="col-6">
      {{userAccess.displayName}}
    </div>
    <select type="text" class="form-control" style="width: 180px" [(ngModel)]="accessMode"  >
      <option value="r-------">Can view</option>
      <option value="rw------" selected>Can edit and view</option>
    </select>
  </div>


    <div class="my-table">
      <tr> <td><button  type="button" class="btn btn-primary btn-sm"
                       (click)="onSaveGroupAccess()">Save</button> &nbsp;&nbsp; &nbsp;</td>
        <td> <button type="button" class="btn btn-default btn-sm" (click)="doCancel()">Cancel</button></td>
      </tr>
    </div>


</div>
